{% extends "team/_base.html" %}
{% block title %} Liste des Teams {% endblock title %}
{% block content %}
{% if teams %}
<ul class="list-group">
    {% for team in teams %}
    <li class="list-group-item">
    <span> Team : {{team.name}} - {{ team.devteam.all|length }} developper{{dev.devteam.all|length|pluralize}} </span>
        
    </li> 
    {% endfor %}
</ul>
{% else %}
    <div class="container m-4">
        <alert class="alert alert-warning">No Teams</alert>
    </div>
{% endif %}
{% include 'team/_create_team_modal.html' %}
{% endblock content %}